<div class="header bg-light">
		<h1>Start a new match!!</h1>

	<a class="navbar-brand" href="#"><img src="" width="60" height="60" alt=""></a>

	<h6>Points: <span id="score"></span></h6>
</div>


<div class= "row">
	<div class="userTeam col-sm-3">{{player}}</div>

	<div class="otherUser col-sm-3"></div>
	<div class="otherUser col-sm-3"></div>
	<div class="otherUser col-sm-3"></div>


	<lable>look up your team</lable>
	<input name="name" class="name">
	<button class="search">search</button>

	<button class="play"><a href="/users/game">Play</a></button>

</div>
